* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 4000px;
  font-family: "DM Sans", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
