footer {
  background-color: var(--green);
  padding: 5rem 0;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-text p:first-of-type {
  margin-top: 1.5rem;
}

.footer-social ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}
