.hero-banner {
  background-color: var(--green-light);
}

.hero-content {
  display: grid;
  grid-template-columns: 7fr 5fr;
  align-items: center;
  position: relative;
  padding-bottom: 4rem;
}

.hero-text h1 {
  margin: 1rem 0 1.5rem 0;
}

.hero-text button {
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.hero-text p {
  max-width: 50ch;
}

.hero-text p:first-child {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.hero-numbers-container {
  padding: 0 2rem;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
}

.hero-numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  border-radius: 6px;
  background-color: var(--white-secondary);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
}

.numbers {
  text-align: center;
}

.numbers:nth-child(2) {
  border-left: 1px solid var(--green-light);
  border-right: 1px solid var(--green-light);
  padding: 2rem 0;
}

@media (max-width: 820px) {
  .hero-numbers-container {
    padding: 0 1rem;
  }
  .hero-content {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: 4rem;
  }

  .hero-numbers {
    grid-template-columns: 1fr;
    padding: 2rem;
  }

  .numbers:nth-child(2) {
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--green-light);
    border-top: 1px solid var(--green-light);
    margin: 1rem 0;
  }
}
