.services {
  padding: 2rem 0 16.4375rem 0;
  background-color: var(--white-secondary);
}

.services-title {
  padding-top: 16.4375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.services-title p {
  text-transform: uppercase;
  color: var(--green);
  margin-bottom: 1rem;
}

.services-title h2 {
  max-width: 18ch;
}

.services-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
  padding-top: 4rem;
}

.service-card {
  padding: 1.5rem;
  background-color: var(--white-pure);
  border-radius: 6px;
}

.service-card h4 {
  margin: 1rem 0;
}

@media (max-width: 820px) {
  .services {
    padding-bottom: 6rem;
  }

  .services-content {
    grid-template-columns: 1fr;
  }
}
